*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Web_application/dist/
/Project/nbproject/private/
/Project_Web_Application/build/
/Project_Web_Application/nbproject/private/
/Project_Web_Application/dist/
