*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Project/nbproject/private/
/Project_Web_Application/build/
/Project_Web_Application/nbproject/genfiles.properties
/Project_Web_Application/nbproject/project.properties
/Project_Web_Application/nbproject/project.xml
/Project_Web_Application/dist/
/Project_Web_Application/nbproject/

/apache-tomcat-8.0.20/
notes.txt
ojdbc7.jar
