p{
    color: red;
}

form{

}

div{
    background-color: pink;
    border: 2px solid grey;
    vertical-align: top;
}

li{
    display: inline;
    text-align: justify;
}
/* Partie Réservation */

.affiche{
    width:145px; 
    height:195px;
}

.fondBlock{
    height:210px;
    width:100%;
    background-color : green;
}

.boutton{
    background-color: grey;
    width : 100%;
    height: 60px;
}

#DescriptionColonne1{
    width:21%;
}
#DescriptionColonne2{
    width:50%;
}
#DescriptionColonne3{
    width:27%;
    
}
#DescriptionColonne1, #DescriptionColonne2, #DescriptionColonne3{
   display: inline-block;
   height : 200px;
    
}
#colonneDate{
    background-color : blue;
}

#colonneHeure{
    background-color : red;
}

#colonneDate, #colonneHeure{
    display: inline-block;
    vertical-align: top;
    width: 49%;
}


.right {
    position: absolute;
    right: 0px;
    width: 300px;
    background-color: #b0e0e6;
}

/* Bouton de Reservation */
.Reserver{
    width: 340px; 
    height: 100px;
}

nav{
    position: fixed;
    top : 0px;
    color : grey;
}


/*Footer */
footer{
    background-color : black;
}

#colonne1, #colonne2, #colonne3
{
    display: inline-block;
    vertical-align: top;
    width : 33%;
    height : 200px;
}

#colonne1 li, #colonne2 li, #colonne3 li{
    display : block;
    vertical-align: top;
}

#colonne1 h1, #colonne2 h1, #colonne3 h1{
    color:white; /* ne marche pas */

}




