/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 mars 2015, 23:40:37
    Author     : oswald
*/

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: aliceblue;
    height: 100%;
    width : 100%;
    margin: 0px;
    /*    background-image: url(../img/theatre.jpg);
        background-position: center center;
        background-repeat: no-repeat; 
        background-attachment: fixed; 
        background-size: cover; 
        background-size: 100% 100%;            Gecko 2.0 (Firefox 4.0) > CSS3 */
}

#grumpycat {
    height: 60%;
    width: 100%;
    margin: 0px;
}

#grumpycat img {
    height: 100%;
    width: 100%;
} 

#theatre{
    height: 70%;
    width: 100%;
    padding: 0px;
}

/*.navbar {
    margin-bottom: 0px;
}*/

#myCarousel {
    margin-bottom: 20px;
}



