/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 mars 2015, 23:40:37
    Author     : oswald
*/

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: aliceblue;
    height: 100%;
    width : 100%;
    margin: 0px;
}

#comedimag {
    color: green;
    font-weight: bold; 
}

a:focus {
    outline:0;
}

.connected-carousels {
    background: salmon;
}

.stage{
    background: white;
}

.stage li {
    margin: 5px;
}

.stage img{
    max-width: 100%;
    height: auto;
}